.table__body-row {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.table__body-row:hover {
  background: rgba(0, 0, 0, 0.02);
  cursor: pointer;
}
.table__body-data {
  padding: 1.6rem 1.8rem;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
}
.table__body-data--actionable {
  position: relative;
  z-index: 0;
  padding: 0px;
}
