.input-group {
  margin: 1.5rem 0;
}

.input-group__label {
  font-size: 1.2rem;
  display: block;
  padding-bottom: 0.6rem;
  font-weight: 600;
}

.input-group__label--required::after {
  content: "*";
  color: brown;
}

.input-group__field {
  width: 100%;
  padding: 1.1rem;
  border: 1px solid black;
  border-radius: 0.4rem;
  font-size: 1.3rem;
}

.input-group__message {
  font-size: 0.8rem;
  margin: 0.5rem 0rem;
}

.input-group__message--error {
  color: brown;
}
