.pagination {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.pagination__list-item {
  padding: 0px;
  margin: 0px;
}

.pagination__button {
  cursor: pointer;
  display: block;
  padding: 0.5rem 0.8rem;
  color: black;
  border: 2px solid blue;
  margin: 0.5rem;
  border-radius: 2px;
  background: #fff;
}

.pagination__button--active {
  color: #fff;
  background: blue;
}

.pagination__button:hover {
  cursor: pointer;
  background: blue;
  color: white;
}
