.button {
  display: block;
  padding: 1.4rem 1.6rem;
  color: rgba(255, 255, 255, 1);
  background: transparent;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  border-radius: 0.2rem;
  cursor: pointer;
  text-align: center;
}

.button--primary,
.button-cancel {
  background: rgba(0, 120, 212, 1);
}

.button--primary:hover,
.button-cancel:hover {
  background: rgb(12, 109, 184);
}

.button--delete {
  background: #c62828;
}
.button--delete:hover {
  background: #b71c1c;
}
.button--success {
  background: #53af67;
  transition: background ease 0.5s;
}
.button--success:hover {
  background: #459b57;
}

.button:disabled,
.button[disabled] {
  background-color: #cccccc;
  color: #666666;
  cursor: default;
}
