.popup-menu {
  position: absolute;
  right: 1.6rem;
  display: none;
  z-index: 1;
}

.popup-menu--small {
  width: 20rem;
}

.popup-menu--visible {
  display: block;
}

.popup-menu__card {
  background: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.popup-menu__item-group {
  list-style-type: none;
  flex-direction: column;
  padding: 1.6rem 0rem;
}

.popup-menu__link {
  cursor: pointer;
  width: 100%;
  font-size: 1.3rem;
  font-weight: 400;
  color: #454545;
  font-family: "Open Sans", sans-serif;
  padding: 1.3rem;
  border: none;
  background: inherit;
  text-align: left;
}

.popup-menu__link:hover {
  background: rgba(0, 0, 0, 0.04);
}
